################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/ConsoleApp_Sample/bin/Debug/netcoreapp3.1
/Practice/ConsoleApp_Sample/obj
/Practice/.vs/Practice/v17
/Practice/.vs/Practice/DesignTimeBuild
